@media(max-width: 575.98px) {
     
.navbar-brand img{
	width:160px;
}
.navbar-toggler-icon i{
	color:#222;
}
.navbar-toggler{
	padding-top:10px;
}
.navbar-toggler:focus{
	outline:0;
}
.accordion-button::after {
	
	width: 1rem;
	height: 1rem;
	background-size: 1rem;
}
#ac {
	margin-bottom: 10px;
}

.accordion-button{
     padding: .5rem .5rem;
}
.seminar-s{
     margin-top:20px;
}
#cards {
	padding-top: 50px;
	margin-bottom: 0px;
}
.margin-center{
	margin:25px auto;
}
.buttons button{
	line-height:1;
}
#cards .card-caption{
	margin-bottom:20px;
}
.about-text p {
	font-size: 14px;
	font-weight: 400;
	
}
.about-text #title {
	font-size: 28px;
	
}
.about-text h6 {
	font-size: 24px;
}
}