*{
	padding:0;
	margin:0;
	outline:0;
}
.form-control:focus{
	border-color:transparent;
	border:1px slide red;
	outline:none;
	box-shadow:none;

}

p{
	padding:0;
}

ul,ol{
	list-style-type:none;
	padding-left:0;
}
a{
	text-decoration:none;
}
/*  ACCORDION TO MODEL CSS START */
.ii{
	display:inline-block;
}

.modal-body{
	width:100%;
	padding:0;
	
}
.modal-dialog {
	max-width: 80%;
	margin: 1.75rem auto;
}
.modal-button {
	border: 1px solid rgba(129, 127, 127, 0.514);
	background: #fff;
	padding: 13px 19px;
	border-radius: 10px;
}
.modal-button i{
	margin-top:7px;
	cursor:pointer;
}

.modal-button a{
	font-size: 16px;
	font-family: 'Noto Sans JP', sans-serif;
	color:#222;
	font-weight: 300;
	border-radius:5px;
}

/*  ACCORDION TO MODEL CSS END  */
.navbar-collapse .nav-link{
	
	font-family: 'Noto Sans JP', sans-serif;
	font-size:16px;
	color:#000;
	font-weight:300;
	padding-left:0!important;
	padding-right:0!important;
}

.navbar{
	background: #f1f1f1;
	border-bottom: 2px solid #eb1c24;
}
.navbar img{
	padding-right:20px;
}
.nav-item a{
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 400;
	font-size: 14px;
	
}
.nav-item ul{
	text-align:center;
    position: absolute;
    visibility: hidden;
    background: #ddd;
    width: 180px;
    color: black;
    transform: scaleY(0);
    transition: all .5s;
	z-index: 999999;
	box-shadow: 0px 5px 20px rgba(112, 108, 108, 0.692);

}
.navbar-collapse ul li:hover> ul{
	visibility: visible;
	background:#f1f1f1;
	transform: scaleY(1);
}
.nav-item ul li a{
	color:#000;
	text-decoration: none;
	line-height: 40px;	
}
.nav-item ul li{
	width:100%;
	text-align: center;
}

.nav-item{
	position: relative;
	margin-left:1rem!important;
	margin-right:.5rem!important;
}
.nav-item .nav-link::after{
    position: absolute;
    content: "";
    height: 0;
    width: 100%;
    background-color: #e81c24;
    left: 0;
    bottom: 0;
    transition: all 0.4s ease;
}
.navbar-collapse ul li:hover> .nav-link::after{
	height:3px;
	color:#ee2e24;
}
.navbar-collapse ul li:hover> .nav-link{
	color:#222;
}
.navbar-collapse ul li ul li:hover{
	background: #ee2e24;
	
}
.navbar-collapse ul li ul li:hover > .nav-link{
	color:#fff;
}


.seminar-s{
	margin-top:-50px;
	background: #f1f1f1;
	padding: 20px 15px;
	border-radius: 12px;
	box-shadow: 0px 5px 20px rgba(112, 108, 108, 0.692);
}

.table thead th{
	color: #fff!important;
	border-right: 1px solid #fff;
	text-align: center;
	background: #ee2e24;
	font-family: 'Arimo', sans-serif;
	font-size: 16px;
	font-weight: 700;
  }
 .seminar-table .btn {
	background: #49596d;
	color: #fff;
  }
 .table tr td {
	text-align: center;
	font-family: 'Arimo', sans-serif;
	font-size: 16px;
	color: #444;
	font-weight: 400;
  }
 
.accordion-body .btn {
	color: #ffffff;
	display: inline-block;
	padding: 6px 12px;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	/* touch-action: manipulation; */
	cursor: pointer;
	/* user-select: none; */
	/* background-image: none; */
	border: 1px solid transparent;
	border-radius: 4px;
	background: rgb(131, 130, 153);
}

.accordion-button{
	font-family: 'Noto Sans JP', sans-serif;
	font-weight:300;
	font-size:14px;
}
.accordion-item {
	background-color: #fff;
}
.expp{
	transition:all 0.5s linear;
}

.accordion-button:not(.collapsed) {
	color: #000;
	background-color: transparent;
	box-shadow: inset 0 -1px 0 rgba(0,0,0,.125);
}
.accordion-button:not(.collapsed)::after {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
	transform: rotate(180deg);
}

.searchbarinput input::placeholder{
	font-family: 'Noto Sans JP', sans-serif;
	font-weight:300;
	font-size:14px;
	color:#000;
	
}
.searchbarinput input{
	padding:16px 0;
	padding-left:15px;
}

.searchbar i{
	font-size:25px;
	color:#000;
}

#cards{
	padding-top:50px;
	margin-bottom: 50px;
}

.mycard{
	border-bottom:2px solid #ee2e24; 
	box-shadow: 0px 5px 20px rgba(112, 108, 108, 0.692);
}

.total-time{
	font-family: 'Noto Sans JP', sans-serif;
	font-size:14px;
	font-weight: 300;
	color:#444;
	margin-left:5px;
}
.card-text{
	padding:15px 0 15px 15px;
}
.minilogo {
	padding-left: 25px;
	font-size:14px;
	color:#ee2e24;
}
.card-text h3{
	font-family: 'Noto Sans JP', sans-serif;
	font-size:20px;
	font-weight: 600;
	color:#222;
	padding:7px 25px;
}
.card-text p {
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: #222;
	padding: 7px 45px 7px 23px;
}

.table {
	margin-bottom: 0px;
	width:100%;
}

.table a{
	color:#000;
}
.table2{
	border:0;
	margin-bottom:0;
}
.table2 input{
	width:100%;
	border:0;
	
}
.buttons button{
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 300;
	background: #ee2e24;
	color:#fff;
	box-shadow: 0px 5px 20px rgba(112, 108, 108, 0.692);
}
.buttons button a{
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 300;
	color:#fff;
	font-size:16px;
}
.buttons.onlinebtn {
    padding: 31px 0 0 23px;
    
}
.buttons button:hover{
	color:#000;
	background: transparent;
}
.buttons button:hover > a{
	color:#222;
}
.card-caption a{
	font-family: 'Montserrat', sans-serif;
	font-size:14px;
	font-weight: 400;
	
}
.mycardbtngap{
	margin:10px 22px;
}
.card-blog{
	box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.course_title p{
	font-family: 'Montserrat', sans-serif;
	font-size:25px;
	font-weight: 700;
	margin-bottom:60px;
	text-align: center;
}
.course_title p span{
	color:#ee2e24;
}
.shadowme{
	box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
	border-bottom: 1px solid red;
}
.pd{
	margin-top: 835px;
}
.pd2{
	margin-top: 120px;
}
#copyright{
	
	border-top:1px solid #ee2e24;
	background: #f1f1f1;
	padding-top:20px;
}

.title p{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color:#222;
}
.title span{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color:#ee2e24;
}
#about{
	margin-bottom: 50px;	
}
.animated-text-1{
	padding:70px 0;	
}
.animated-text-1 h3{
	font-size: 30px;
	color:#000;
	font-family: 'Noto Sans JP', sans-serif;
	font-size:16px;
	color:#000;
	font-weight: 600;
}
.animated-text-1 p{
	font-size: 14px;
	color:#000;
	font-family: 'Noto Sans JP', sans-serif;
	font-size:16px;
	color:#000;
	font-weight: 400;
}
.animated-image-1{
	background:#ee2e24a2;
}
.animated-text-1 .pr{
	padding-right:20px;
	padding-left:10px;
}
.animated-text-1 .pl{
	padding-left:20px;
	padding-right: 10px;
}
.about-left-color{
	background: rgba(205, 211, 218, 0.692);
}
.aboutShadow{
	box-shadow: 0px 5px 20px rgba(112, 108, 108, 0.692);
	
	margin:0;
	
	background:#f1f1f1;
}
.about-text{
	margin-top:40px;
	padding:0 10px;
}

.about-text h6{
	font-family: 'Noto Sans JP', sans-serif;
	font-size:16px;
	color:#000;
	font-weight: 400;
	
	padding:17px 20px 0 20px;
}
.about-text h6{
	color:#444;
	font-size: 30px;
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 700;
}
.about-text p{
	
	font-family: 'Noto Sans JP', sans-serif;
	font-size:16px;
	color:#000;
	font-weight: 500;
	padding:0 26px 0 20px;
}
.about-text #title{
	font-size: 34px;
	font-family: 'Noto Sans JP', sans-serif;
	color:#ee2e26;
	font-weight: 700;
	
}
#teachers{
	margin:0 0 60px 0;
	background:#f1f1f1;
	box-shadow: 0px 5px 20px rgba(112, 108, 108, 0.692);
}

.course_title2 p{
	font-family: 'Montserrat', sans-serif;
	font-size:25px;
	font-weight: 700;
	margin-bottom:60px;
	text-align: center;
}
.course_title2 p span{
	color:#ee2e24;
}
.course_title2 p{
	position: relative;
}
.course_title2 p::after{
	position:absolute;
	bottom:-5px;
	left:50%;
	height:2px;
	transform:translateX(-50%);
	width:100px;
	content:'';
	opacity:1;
	background:#ee2e24;
}
.teacher-slider {
	margin: 50px 0 30px 0;
}
.teacher-slider .slick-dots{
	padding-bottom:0;
}
.teacher-slider-item{
	
	height:400px;
}

.o-img{
	position: relative;
	margin:0 8px;
	overflow-y: hidden;
}


#e-school-team .teacher-img{
	margin-bottom: 22px;
} 

.t-overlay{
	position: absolute;
	bottom:0;
	left:0;
	background: linear-gradient(to top, rgba(168, 62, 62, 0.692) , rgba(198, 198, 207, 0.671));
	opacity:0;
	width:100%;
	height:0;
	text-align: center;
	transition:all 0.4s;

}
.o-img:hover .t-overlay{
	opacity:1;
	height:100%;
	border-right:1px solid #ee2e24;
}
.t-overlay h3{
	font-family: 'Noto Sans JP', sans-serif;
	font-size:24px;
	color: #ffffff;
	font-weight: 500;
	margin-top:80%;
	
}
.wtext p {
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 21px;
	color: rgb(0, 0, 0);
	font-weight: 700;
	margin-top: 15px;
	border:1px solid #444;
	margin-right:8px;
	margin-left:8px;
}
.text p {
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 14px;
	color: rgb(0, 0, 0);
	font-weight: 700;
	margin-top: 15px;
}
.text{
	border-bottom: 2px solid #ee2e24;
	margin-right:10px;
	margin-left:10px;
}

.slick-dots {
	text-align: center;
	padding-top: 35px;
	padding-bottom: 45px;
}
#teachers .slick-dots li {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin-right: 5px;
	background: transparent;
	border: 2px solid #000;
	width: 18px;
	height: 18px;
	border-radius: 50%;
}
.teacher-slider .slick-dots li button{
	font-size:0;
	height:8px;
	width:8px;
	background:#ee2e24;
	border-radius:50%;
	outline:0;
	border:0;
	opacity:0;
	
}

.teacher-slider .slick-dots .slick-active button{
	opacity:1;
}
.fa.fa-chevron-right.right.slick-arrow {
	right: 46%;
	position: absolute;
	bottom: 9px;
	border: 1px solid black;
	border-radius: 50%;
	padding: 11px 13px;
	width: 38px;
}
.fa.fa-chevron-left.left.slick-arrow {
	left: 46%;
	position: absolute;
	bottom: 9px;
	border: 1px solid black;
	border-radius: 50%;
	padding: 11px;
	width: 38px;
}

.single-comment-box {
	position: relative;
	background: #f1f1f1;
	height: 220px;
	overflow: visible;
	margin: 50px 18px;
	box-shadow: 0px 5px 20px rgba(112, 108, 108, 0.692);
	border-bottom: 2px solid #ee2e24;
}
.comment-img {
	position: absolute;
	right: 32px;
	top: -26px;
	z-index: 99999;
}
.comment-img img{
	width:113px;
	box-shadow: 0px 5px 20px rgba(112, 108, 108, 0.692);
}
.comment-text{
	padding:20px 0 10px 25px;
}
.comment-text p{
	margin:0;
}
.comment-text .bold{
	font-weight:700;
}
.comment-text i{
	color:#ee2e24;
}
.comment-text .main-comment {
	padding-top: 20px;
	padding-right: 38px;
	text-align: justify;
	font-size: 15px;
}
.comment-text .cname{
	font-family: 'Noto Sans JP', sans-serif;
	font-size:18px;
	font-weight: 400;
}
.success-story{
	margin-bottom:50px;
}
.buttonsmargin{
	margin-top:50px;
	
}

.buttonsmargin button{
	padding:10px 48px;
	
}
.s-image{
	position:relative;
}
.s-overlay{
	position: absolute;
	top:0;
	left:0;
	background: rgba(0, 0, 0, 0.4);
	opacity:1;
	width:100%;
	height:100%;
	text-align: center;
	transition:all 0.5s linear;
}
.s-overlay i{
	font-size:90px;
	color:rgba(255, 255, 255, 0.548);
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	transition:all 0.3s linear;
}
.s-overlay:hover i {
	color:#ee2e24;
}
.s-overlay:hover .s-text{
	visibility:visible;
}
.s-gap{
	margin-bottom:13px;
}
.s-text{
	visibility:hidden;
	transition:all 0.3s linear;
}
.s-text h3 {
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 28px;
	font-weight: 400;
	color: #ddd;
	padding-top: 144px;
}
.s-text h4 {
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 20px;
	font-weight: 400;
	color: #ddd;
	padding-top: 128px;
}
.success-text{
	padding:0 20px;
	
	height:100%;
	background: #f1f1f1;
}
.success-text h4{
	
	font-family: 'Noto Sans JP', sans-serif;
	font-size:18px;
	font-weight:400;
	color:#222;
	text-transform: uppercase;
}
.success-text p{
	
	font-family: 'Noto Sans JP', sans-serif;
	font-size:16px;
	font-weight:400;
	color:#222
}
.success-text img{
	margin-bottom:4px;
}
.border-1{
	border:1px solid #222;
}
#faq{
	margin-bottom: 50px;
}
.success-img{
	position: relative;
}
#successful-students{
	margin-bottom:60px;
}
.cut{
	position: absolute;
	bottom:20px;
	right:-15px;
	height:30px;
	width:30px;
	transform:rotate(45deg);
	z-index: 999;
	background:#f1f1f1;
}

.itemd{
	margin:0 12px;
	
}
.sld{
	width:100%;
}
#footer {
	margin: 50px 0 0 0;
	padding: 50px 0;
	background: #f1f1f1;
}
.footer-logo p{
	margin-top:20px;
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	line-height:22px;
	font-weight:400;
	color:#222;
	text-align:justify;
}
.footer-text {
	margin-left: 15px;
	margin-top: 24px;
}
.footer-text h4{
	margin-top:20px;
	margin-bottom:20px;
	font-family: 'Montserrat', sans-serif;
	font-size:25px;
	
	font-weight:500;
	color:#222;
}
.footer-text a {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	line-height: 33px;
	font-weight: 400;
	color: #222;
	display: inline-block;
	margin-bottom: 8px;
	margin-right: 0;
	/* width: 100%; */
}

.footer-heading{
	position:relative;
}
.footer-heading h4::after {
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 40%;
	height: 1px;
	background: #ee2e24;
	content: '';
	visibility: visible;
}
.footer-links a{
	position:relative;
	transition:all 0.3s linear;
}
.footer-links a::after {
	position: absolute;
	width: 0;
	height: 2px;
	content: '';
	bottom: -5px;
	left: 0;
	transition:all 0.3s linear;
	background: #ee2e24;
	visibility: hidden;
}

.footer-links a:hover:after{
	width:100%;
	visibility:visible;
	
}
.footer-links a:hover{
	color:#ee2e24;
	margin-left:5px;
}
.footer-links li{
	display:block;
}
.footer-links li a{
	display:inline-block;
}
.pd5 {
	padding: 0 5px !important;
	
}
.gg {
	margin-bottom: 13px!important;
}
.footer-gal{
	margin-left:15px;
}
.footer-form input {
	padding: 8px 0 8px 15px;
	width:100%;
}
.footer-form-link2 a{
	font-size: 16px;
	
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	padding:8px 15px;
	margin-top:15px;
	background:#ee2e24;
	text-align:center;
	width:100%;
	color:#fff;
}
.footer-social-links a {
	height: 35px;
	width: 35px;
	transition: all 0.3s linear;
	background-color: #f1f1f1;
	color: #444444;
	text-align: center;
	display: block;
	border-radius: 50%;
	border: 1px solid #444444;
	margin-bottom:20px;
}
.footer-social-links a:hover{
	background:#ee2e24;
	color:#f1f1f1;
}
#for-whom {
	margin-bottom: 60px;
	background: #f1f1f1;
	padding:30px 0;
}

.for-whom-title h4{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size:18px;
	color:#222;
	text-align:justify;
}

.itemg{
	margin:0 -21px;
	
}
.for-whom-shadow{
	box-shadow: 0px 5px 20px rgba(112, 108, 108, 0.692);
	
}
.for-whom-text {
	padding: 0 20px 0 20px;
}


.itemg{
	padding:30px;
}
.myhomemaker{
	margin-top:61px;
}

/* COURSE-PAGE START */

.b-image{
	position:relative;
	

}

.b-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
	height:100%;
	
}
.ll {
	/* margin: 50px; */
	margin-top: 10%;
}
.course_title4{
	position: relative;
}
.course_title4 p{
	font-family: 'Montserrat', sans-serif;
	font-size:32px;
	font-weight: 700;
	color:rgb(226, 214, 214);
	text-align: center;
}
.course_title4 p span{
	color:#d15852;
}
.course_title4 p::after{
	position:absolute;
	bottom:-5px;
	left:50%;
	height:2px;
	transform:translateX(-50%);
	width:100px;
	content:'';
	opacity:1;
	background:#ffffff;
}
.course_title3 p{
	font-family: 'Montserrat', sans-serif;
	font-size:25px;
	font-weight: 700;
	
	text-align: center;
}
.course_title3 p span{
	color:#ee2e24;
}
.course_title3 p{
	position: relative;
}
.course_title3 p::after{
	position:absolute;
	bottom:-5px;
	left:50%;
	height:2px;
	transform:translateX(-50%);
	width:100px;
	content:'';
	opacity:1;
	background:#ee2e24;
}
.b-overlay .breadcrumb-text p{
	font-family: 'Montserrat', sans-serif;
	font-size:20px;
	font-weight: 400;
	color:rgb(255, 255, 255);
	text-align: center;
	
}
.b-overlay .course_title3 p{
	text-transform: uppercase;
}
.b-overlay .course_title3 span{
	text-transform: uppercase;
}
/* COURSE-PAGE END */

/* ADMISSION PAGE START */

#breadcrumb{
	margin-bottom:80px;
}
.myform-admission textarea{
	border:0;
	width:100%;
	height:200px;
}
.myform-admission label{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color:#222;
}
.myform-admission input{
	display:block;
	width:100%;
	padding: 0;
	border:0;
}

.myform-admission {
	margin:10px 0;
}
.myform-admission select{
	width:"100%";
	border:0;
	padding:0 0 1px 0;
}
.form-heading h3{
	margin-bottom: 50px;
	position: relative;
	font-family: 'Montserrat', sans-serif;
	font-size: 32px;
	font-weight: 500;
	color:#222;
}
.form-heading h3::after {
	position: absolute;
	background: #ee2e24;
	content: '';
	width: 123px;
	height: 3px;
	bottom: -16px;
	left: 50%;
	transform: translateX(-50%);
}
/* ADMISSION PAGE END */

/* REGISTRATION PAGE */

#registration .form-heading h3 {
	margin-bottom: 50px;
	position: relative;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: 500;
	color: #222;
}

.req-text ul li{
	font-family: 'Montserrat', sans-serif;
	font-size:16px;
	font-weight: 500;
	color:#222;
}
.req-text ul li img{
	margin-right:14px;
}
.req-text{
	margin-top:82px;
	background:#f1f1f1;
	padding:15px;
	border-radius:8px;
}
/* CONTACT CSS START */

#myformb{
	height: 150px!important;
}
.myformbg{
	background: #f5f5f5;
	padding:20px;
	border-radius:8px;
}

.middle-contact-text p{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	color:#222;
	font-weight: 400;
}
.middle-contact-text p span{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	color:#222;
	font-weight: 700;
}
#contact .form-heading h3{
	font-size: 25px;
}
/* CONTACT CSS END */

.table2 tr td {
	text-align: center;
	font-family: 'Arimo', sans-serif;
	font-size: 14px;
	color: #444;
	font-weight: 400;
}
.table2 thead th {
	color: #fff !important;
	border-right: 1px solid #fff;
	text-align: center;
	background: #ee2e24;
	font-family: 'Arimo', sans-serif;
	font-size: 14px;
	font-weight: 700;
}
/* admission part */
.admit_title h4{
	margin-top:30px;
	margin-bottom:30px;
}
.neccessary_paper span{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color:#222;
	margin-right:25px;
	
}
/* admission part */

.course-single-page-details{
	margin:80px 0;
}

/* Course single page start */
.cs-heading h4{
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 30px;
	color:#333;
}
.cs-text h3{
	/* font-family: 'Noto Sans JP', sans-serif; */
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 26px;
	color:#333;
	margin-top: 30px;
}
.cs-text p {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #333;
	padding-right: 30px;
	text-align: justify;
}
.cs-text-2 h3{
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 26px;
	color:#333;
	margin-top:30px;
}
.cs-text-2 p{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color:#333;
}

.cs-right-side-gap{
	margin-top:70px;
	margin-bottom:70px;
}
.cs-right-side-gap2 {
	margin-top: 110px;
	margin-bottom: 110px;
}

/* Course single page end */

#graphic-design-single-page .cs-right-side-gap2 {
	margin-top: 70px;
	margin-bottom: 105px;
}

#video-editing-single-page .cs-right-side-gap {
	margin-top: 105px;
	margin-bottom: 70px;
}

#courses #breadcrumb {
	margin-bottom: 0;
}

#video-editing-single-page #breadcrumb {
	margin-bottom: 80px;
}
input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
	background:#ee2e24;
	color:#fff;
}

.last-gap{
	margin-left:-10px;
}

#terms .nav-tabs{
	justify-content: center;
}
#register_assets h4, .register_form h4, .address-title h4 {
	position: relative;
	display: inline-block;
	padding-bottom: 15px;
	margin-bottom: 18px;
	color: #e81c24;
	font-size: 20px;
}


#terms .nav-tabs{
	border-bottom:0;
}

#terms .b-overlay .breadcrumb-text p {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 400;
	color: rgb(255, 255, 255);
	text-align: center;
	margin-top: 25px;
}
#terms .tab-pane h4{
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 600;
	color: #222;
	margin-top:30px;
	
}
#terms .tab-pane h5{
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color:#222;
	line-height: 26px;
}
#terms .mytitle{
	position:relative;
}
#terms .mytitle h4::after {
	background: #ee2e24;
	width: 50%;
	height: 2px;
	opacity: 1;
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
}
#terms .mytitle p{
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color:#222;
	line-height:26px;
}
#terms .mylist ul li img{
	margin-right:10px;
}
#terms .mylist ul li {
	margin-bottom: 5px;
	line-height: 29px;
}
#terms .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	color: #fff !important;
	background-color: #ee2e24;
	border-color: #dee2e6 #fff #fff4;
}
#terms .nav-tabs .nav-link {
	display: block;
	padding: .5rem 1rem;
	color:#222;
	border:1px solid #ddd;
	text-decoration: none;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

/* ====== Sticky menu start ====== */
.sticky_menu{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	z-index:9999;
	animation: stk 1s linear;
	background: #f1f1f1;
	-webkit-animation: stk 1s linear;
}
@keyframes stk{
	0%{
		top:-100px;
	}
	100%{
		top:0px;
	}
}
/* ====== Sticky menu end ====== */
